<body
  style="
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  "
>
  <div class="container">
    <div class="container" style="width: 100%;" *ngFor="let item of array; let i = index">
      <div style="margin-right: 15px;">
        <div class="header">{{ item.name }}</div>
        <li class="notes font-size-large" *ngFor="let item of array[i].notes">{{ item }}</li>
      </div>
      <div class="font-size-regular" style="padding-top: 5px; width: 100%; max-width: 750px;">{{ item.description }}</div>
    </div>
  </div>
</body>
