
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: black;

  align-items: center;

  text-align: left;

  animation: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn{
  0% {opacity: 0; transform: translateX(-25%); transform: scaleY(0%);}
  50% {transform: scaleY(100%);}
  100% {opacity: 100; transform: translateX(0%);}
}

.notes{
  margin-left: 15px;
  list-style-position: outside;
  list-style: none;
  margin: none;
  padding: none;
}

.notes::before{
  content: "➢";
}

.containerMobile{

  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
  align-items: center;
  text-align: center;
  color: white;
  background-color: black;


  border: white solid 3px;
  border-radius: 3px;
  border-style: double;

}

.containerDesktop{

  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
  margin-bottom: 5%;
  margin-left: 2.5%;
  min-height: 50vh;
  border-left: 3px solid white;
}

.column{
display: flex;
flex-direction: column;
width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
}

div{
  display: flex;
}


