<body
  style="
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  "
>
  <div class="container">
    <div
      *ngFor="let item of array; let i = index"
      [ngClass]="this.GetIsMobileService.getIsMobile(1140) ? 'containerMobile': 'containerDesktop'"
    >
      <div
        style="
          margin-bottom: 15px;
          margin-right: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        "
      >
        <div
          class="header"
          style="
            margin: 10px;
            text-align: center;
            border-bottom: 3px solid white;
            border-radius: 3px;
          "
        >
          {{ item.name }}
        </div>
        <div style="display: flex; flex-direction: column">
          <li class="notes font-size-large" *ngFor="let item of array[i].notes">
            {{ item }}
          </li>
        </div>
      </div>
      <p
        class="font-size-large"
        style="
          padding-top: 5px;
          width: 100%;
          max-width: 500px;
          text-align: center;
          text-indent: 10%;
        "
      >
        {{ item.description }}
      </p>
    </div>
  </div>
</body>
