<div class="container" [ngStyle]="{'flex-direction': this.GetIsMobileService.getIsMobile(1185) ? 'column' : 'row'}">
  <div style="padding: 1vmax; padding-bottom: 1vh; display: flex; flex-direction: column;">
    <div class="header">Ernest Gray IV</div>
    <div class="font-size-large">Software Developer & Computer Scientist</div>
  </div>

  <div class="list header">
    <div class="link">
      <a class="link" target="blank" href="https://github.com/Ernest-Gray">
        GitHub
      </a>
      <img class="icon" src="/assets/githubIcon.png" />
    </div>

    <div class="link">
      <a
        class="link"
        target="blank"
        href="https://www.linkedin.com/in/ernest-gray-a877a9100/"
        >LinkedIn</a
      >
      <img class="icon" src="/assets/LinkedInIcon.png" />
    </div>

    <a (click)="ContactMeService.viewContactInfo = !ContactMeService.viewContactInfo" class="link">
      Contact Me
      <img class="icon" src="" />
    </a>
  </div>
</div>
