.myName {
  padding: 10px;
}

.myRoles {
  font-size: 1.5rem;
}

.nameAndRole {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  display: inline-flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;

  text-align: center;

  width: 100%;
  background: white;


  color: black;
  font-size: 2rem;
}

.link {
  margin-right: 25px;
  display: inline-flex;

  margin: 5px;
  padding: 10px;

  text-decoration: none; /* removes the hyper text underline*/
  color: inherit;
}

.icon {
  display: block;
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;

  padding-left: 5px;

  /* Makes the icons all black */
  filter: grayscale();
  filter: brightness(0);
}
