
.list {
  display: flex;
  float: right;

  flex-wrap: wrap;
}

.myName {
  font-size: 250%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  margin: 5px;
  padding: 10px;
  font-weight: bold;

  display: flex;
  align-items: center;

  float: left;
}

.container {
  display: inline-block;

  width: 100%;
  background: white;
  background: linear-gradient(
    180deg,
    white 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.icon {
  display: block;
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;

  padding-left: 5px;

  /* Makes the icons all black */
  filter: grayscale();
  filter: brightness(0);
}

.link {
  margin-right: 25px;
  display: flex;

  font-size: 250%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  text-decoration: none; /* removes the hyper text underline*/



}
.link:hover{

  border-color: 5px solid linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2528361686471463) 85%, rgba(255,255,255,0.49933476808692223) 100%);;

}
