contentSelectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.button:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 57%,
    rgba(83, 83, 83, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  cursor: pointer;
  text-decoration: underline;
}

.imageContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.portfolio-images {
  max-width: 500px;
  width: 90vw;
  height: auto;
}
