<div  class="mainContainer">
  
    <div class="" [ngClass]="this.GetIsMobileService.getIsMobile(760) ? 'mobileFieldBar' : 'desktopFieldBar'">
      <div class="" *ngFor="let field of content; let i = index">
        <a (click)="changeView(i)" class="field-name">
          {{ field.fieldName }}
        </a>
      </div>
    </div>
    <div class="contentItemsScroll">
      <div class="" *ngFor="let item of content[viewIndex].content">
        <div  class="border header"> <!--href="item.link"-->
          <div style="border-bottom: white 3px solid; text-align: center; border-radius: 3px;">{{ item.name }}</div>
          <img src="{{ item.imageRef }}" />
        </div>
      </div>
    
  </div>
  <div class="descriptionBox">
    TESTING
  </div>
</div>

