html {
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */

  background-position: center;
  background-size: cover;
  background-color: black;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.contentPage {
  animation-name: fadeInName;
  animation-duration: 2s;
}

@keyframes fadeInName {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.border {
  border: white solid 3px;
  border-radius: 3px;
}

.header {
  font-size: 200%;
}

.font-size-large {
  font-size: 150%;
}

.font-size-regular {
  font-size: 100%;
}

.font-size-smaller {
  font-size: 75%;
}
