.links {
  color: black;
  text-decoration: none;

  background: rgb(221, 212, 255);
  background: linear-gradient(
    180deg,
    rgba(221, 212, 255, 1) 0%,
    rgba(230, 224, 255, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );

  border: black 2px solid;

  padding: 5px;
  margin: 5px;
}

html{
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */

  background-position: center;
  background-size:cover;
  background-color: black;

  background-image: url("/assets/Colored Portfolio Background Gif.gif");

  margin: 0px;

}

.ErnestGray{
  color:white;
  font-size: 64px;
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  animation-name: fadeInName;
  animation-duration: 2s;
}

@keyframes fadeInName{
  0% {opacity: 0}
  100% {opacity: 100}
}
