.footer{

position: absolute;
bottom: 0;
display: inline-flex;

}

img{
  /* gets elements close together */
  margin-left: -25px;
  margin-right: -25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
